@font-face {
    font-family: Mosk;
    src: url("../fonts/Mosk Medium 500.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Mosk;
    src: url("../fonts/Mosk Semi-Bold 600.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Mosk';
    src: url('../fonts/Mosk Normal 400.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Mosk';
    src: url('../fonts/Mosk Bold 700.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Mosk';
    src: url('../fonts/Mosk Ultra-Bold 900.ttf');
    font-weight: 900;
    font-style: normal;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    font-family: Mosk;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E5E5;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body, .wrapper {
    background-color: #161618;
}

.wrapper {
    min-width: 1440px;
    margin: 0 auto;
    position: relative;
    color: #E5E5E5;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 720px;
}

.side_bar_left {
    min-width: 130px;
    flex: 1;
    height: 100%;
}

.content_wrapper {
    display: block;
    position: relative;
    flex: 9;
    max-width: 1180px;
    margin: 0 auto;
}

.side_bar_right {
    min-width: 130px;
    flex: 1;
    height: 100%;
}

.header {
    width: 100%;
    height: 33px;
    z-index: 10;
    margin-top: 8vh;
}

.header_left {
    float: left;
    height: 100%;
}

.header_right {
    float: right;
    height: 100%;
    min-width: 200px;
    font-weight: 700;
}

.main_menu_list {
}

.main_menu_item {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 33px;
    margin-right: 40px;
    font-weight: 700;
}

.login_block {
    margin-left: 90px;
    display: block;
    float: left;
}

.login_link {
    font-size: 16px;
    line-height: 33px;
}

.cart_block {
    display: block;
    float: right;
    margin-top: 8px;
}

.menu_item_active:after {
    display: block;
    width: 65%;
    height: 0;
    border-bottom: #F14ABC solid 5px;
    content: '';
}

.main_slider {
    width: 1177px;
    position: absolute;
    top: -72px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

slides_list {
    
}

.slogan_text {
    color: #C1C4D4;
    display: block;
    position: absolute;
    top: 40vh;
    font-size: 74px;
    text-transform: uppercase;
    width: 296px;
    font-weight: 900;
    line-height: 62px;
    margin-left: 67px;
}

.slider_text_quotes {
    font-size: 74px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 44px;
}

.slider_text_quotes:before {
    content: '<';
    color: #60626B;
    font-size: 100px;
    margin-right: 10px;
}

.slider_text_quotes:after {
    content: '>';
    font-size: 100px;
    margin-left: 10px;
    color: #F14ABC;

}

.contacts_on_page {
    font-size: 14px;
    display: block;
    position: absolute;
    top: 71vh;
    width: 120px;
}

.contacts_on_page_title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

.text_color_main {
    color: #F14ABC;
}

.text_color_white {
    color: white;
}

.text_color_grey {
    color: #60626B;
}

.text_bold {
    font-weight: 900;
}

.text_uppercase {
    text-transform: uppercase;
}

.contacts_on_page_text {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
}

.contacts_on_page_text:last-of-type {
    margin-bottom: 0;
}

.social_links_block {
    display: block;
    position: absolute;
    right: -5px;
    top: 40vh;
    font-weight: 700;
}

.social_links_list {
    height: 200px;
    width: 20px;
}

.social_links_list li {
    margin: 0 0 45px 0;
    display: inline-block;
}

.social_link {
    writing-mode: tb-rl;
    display: inline-block;
    margin-right: 40px;
}

.social_link:last-of-type {
    margin-right: 0;
}

.slide_changer {
    display: block;
    width: 100%;
    position: absolute;
    top: 90vh;
}

.slide_changer ul {
    display: block;
}

.slide_changer_next {
    display: block;
    position: absolute;
    right: 0;
    top: -34px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.slide_changer_prev {
    display: block;
    position: absolute;
    right: 0;
    top: 18px;
    color: #60626B;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.slide_stripe {
    display: inline-block;
    width: 25%;
    border-bottom: #C4C4C4 solid 2px;
    float: left;
}

.slide_stripe_active {
    border-bottom: #F14ABC solid 2px;
}

.slider_counter_block_inside {
    display: none;
    width: 130px;
    height: 50px;
    left: 0;
    margin-top: 35vh;
    border-bottom: #C4C4C4 solid 2px;
}

.slider_counter_block_outside {
    min-width: 130px;
    width: 100%;
    height: 50px;
    border-bottom: #C4C4C4 solid 2px;
    margin-top: 35vh;
}

.slider_counter_text_block {
    display: block;
    float: right;
    font-size: 20px;
    color: #60626B;
    font-weight: 700;
}

.slider_counter_active {
    font-size: 35px;
    font-weight: 700;
}

.slider_counter_average {
    font-weight: 700;
}

.main_slider_img_block {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 1440px;
    height: 100vh;
    overflow: hidden;
}

.slides_list {
    display: block;
    position: absolute;
    left: 0;
    width: 1000%;
    height: 100%;
    transition: left 1s ease;
}

.slide_item {
    display: block;
    float: left;
    width: 10%;
    height: 100%;
}

.slide_item img {
    width: 100%;
}

/*1400-1200px width styles*/
@media only screen and (max-width: 1439px) {
    .wrapper {
        min-width: 1180px;
    }

    .main_slider_img_block {
        min-width: 1180px;
    }

    .content_wrapper {
        width: 920px;
    }

    .slider_counter_block_inside{
        display: block;
        margin-top: 8vh;
    }

    .slider_counter_block_outside {
        display: none;
    }

    .side_bar_left {
        display: none;
    }

    .side_bar_right {
        display: none;
    }
}